<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
    <div class="mb-3">
        <label style="margin-right: 10px;">I am a:</label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" value="male" formControlName="gender"> Male
        </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input ms-3" value="female" formControlName="gender"> Female
        </label>
    </div>

    <!--Username textbox-->
    <app-text-input [formControl]="$any(registerForm.controls['username'])" [label]="'Username'"></app-text-input> <!--Casting $any(condition) to avoid TS error-->
    <!--knownAs-->
    <app-text-input [formControl]="$any(registerForm.controls['knownAs'])" [label]="'Known As'"></app-text-input> 
    <!--Date of Birth-->
    <app-date-picker [formControl]="$any(registerForm.controls['dateOfBirth'])" [label]="'Date of Birth'" [maxDate]="maxDate" [minDate]="minDate    "></app-date-picker> 
    <!--City-->
    <app-text-input [formControl]="$any(registerForm.controls['city'])" [label]="'City'"></app-text-input> 
    <!--Country-->
    <app-text-input [formControl]="$any(registerForm.controls['country'])" [label]="'Country'"></app-text-input> 
    <!--Password textbox-->
    <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'password'" [type]="'password'"></app-text-input>
    <!--confirmPassword textbox-->
    <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'password'" [type]="'password'"></app-text-input>
    <!--
    <div class="mb-3">
        <input type="password"
        [class.is-invalid]="registerForm.get('confirmPassword')?.errors && registerForm.get('confirmPassword')?.touched"
        class="form-control"
        formControlName="confirmPassword"
        placeholder="Confirm Password"
        >
        <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword')?.hasError('required')">Please confirm the password</div>
        <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword')?.hasError('notMatching')">Password not matching</div>
    </div>
    -->
    <!--Buttons, one register, other cancel-->
    <div class="text-center">
        <button class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-default" type="button"(click)="cancel()">Cancel</button>
    </div>
</form>

<p>Form value: {{registerForm.value | json}}</p>
<p>Form status: {{registerForm.status | json}}</p>
